<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: nav"></nav>

<section>
    <div class="grid-container">
        <div th:replace="layout :: logo"></div>
        <div class="grid-100">

            <div class="recipes">

                <div class="grid-100 row controls">
                    <div class="grid-30">
                        <select>
                            <option value="">All Categories</option>
                            <option th:each="category : ${categories}" th:value="${category}" th:text="${category.name}">Breakfast</option>
                        </select>
                    </div>
                    <div class="grid-40">
                        <input placeholder="Search" />
                    </div>
                    <div class="grid-30">
                        <div class="flush-right">
                            <button>+ Add Recipe</button>
                        </div>
                    </div>
                </div> <div class="clear"></div>

                <div class="grid-100 row addHover" th:each="recipe : ${recipes}">
                    <a th:href="@{|/recipes/${recipe.id}|}">
                        <div class="grid-70">
                            <p>
                                <span th:text="${recipe.name}"><img src="images/favorite.svg" height="12px"> </span>
                            </p>
                        </div>
                    </a>
                    <div class="hoverBlock">
                        <div class="grid-30">
                            <div class="flush-right">
                                <p>
                                    <a href="edit.html"> <img src="images/edit.svg" height="12px"> Edit </a>
                                    <a href="#"> <img src="images/delete.svg" height="12px"> Delete </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div> <div class="clear"></div>

                <div class="row">&nbsp;</div>

            </div> <!-- recipes -->
        </div> <!-- grid-100 -->
    </div> <!-- grid-container -->


    </div>
</section>

</body>

</html>