<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: nav"></nav>

<section>
    <div class="grid-container">
        <div th:replace="layout :: logo"></div>
        <div class="grid-100">

            <div class="recipes">

                <div class="grid-100 row addHover" th:each="user : ${users}">
                    <a th:href="@{|/users/${user.id}|}">
                        <div class="grid-70">
                            <p>
                                <span th:text="${user.username}"> </span>
                            </p>
                        </div>
                    </a>
                    <div class="hoverBlock">
                        <div class="grid-30">
                            <div class="flush-right">
                                <p>
                                    <span th:text="${user.role}"></span>
                                    <span th:text="${user.password}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="row">&nbsp;</div>

            </div> <!-- recipes -->
        </div> <!-- grid-100 -->
    </div> <!-- grid-container -->


    </div>
</section>

<footer>
    <div th:replace="layout :: scripts"></div>
</footer>

</body>

</html>